@import "tailwindcss";

@font-face {
    font-family: "Poppins";
    src: url("../public/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kaushan";
    src: url("../public/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Dirty";
    src: url("../public/Dirty Brush.ttf") format("truetype");
}